<script src="js/all.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/page.js" type="text/javascript" charset="utf-8"></script>

<!--[if (lt IE 9) & (!IEMobile)]>
<script src="js/ie/DOMAssistantCompressed-2.8.js"></script>
<script src="js/ie/selectivizr-1.0.1.js"></script>
<script src="js/ie/respond.min.js"></script>
<![endif]-->

<!-- transparent PNG -->
<!--[if IE 6]>
<script src="js/ie/dd_belatedpng.js"></script>
<script>
  DD_belatedPNG.fix('img');
</script>
<![endif]-->

</body>
</html>
